In [4]:
import pandas as pd 
import numpy as np 

url = "https://raw.githubusercontent.com/jkropko/DS-6001/master/localdata/anes_example.csv"
anes = pd.read_csv(url)

In [6]:
anes.head()

,caseid,turnout12,turnout12b,vote12,percent16,meet,givefut,info,march,sign,...,votereg,pid3,pid7,ideo5,newsint,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1.0,1,NaN,2.0,100,1,3,4,1,2,...,1,1,1.0,6,1,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,4,5,4,2,2,...,2,3,4.0,2,3,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,1,1,1,1,1,...,1,2,6.0,4,1,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,5,4,5,2,2,...,1,1,1.0,2,1,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,2,1,3,1,2,...,1,4,5.0,4,1,2,2,3.0,__NA__,2

In [11]:
anes.dtypes

caseid               float64
turnout12              int64
turnout12b           float64
vote12               float64
percent16              int64
                      ...
pew_bornagain          int64
pew_churatd            int64
religpew             float64
religpew_t            object
ever_vs_12mo_rand      int64
Length: 168, dtype: object

In [13]:
anes[['ftobama']].describe()

           ftobama
count  1193.000000
mean     50.442582
std      54.350731
min       0.000000
25%       5.000000
50%      54.000000
75%      87.000000
max     998.000000

In [14]:
anes.describe(include="object")

         pid2d   pid2r other10_open race_other employ_t religpew_t
count     1200    1199           94       1200     1200       1200
unique      37      31           57          1        1         11
top     __NA__  __NA__            0     __NA__   __NA__     __NA__
freq      1159    1162           17       1200     1200       1188

In [15]:
url = "https://raw.githubusercontent.com/jkropko/DS-6001/master/localdata/anes_example_toplines.csv"
import requests
file = requests.get(url)
print(file.text[0:1000])

THIS IS THE ANES 2016 PILOT STUDY
DOWNLOADED AND EDITED BY JON KROPKO
WHO ALSO ADDED THESE LINES AT THE TOP OF THE DATA FILE
TO ANNOY HIS STUDENTS
caseid,turnout12,turnout12b,vote12,percent16,meet,givefut,info,march,sign,give12mo,compromise,ftobama,ftblack,ftwhite,fthisp,ftgay,ftjeb,fttrump,ftcarson,fthrc,ftrubio,ftcruz,ftsanders,ftfiorina,ftpolice,ftfem,fttrans,ftmuslim,ftsci,reg,demcand,repcand,vote16jb,vote16bc,vote16tc,vote16mr,vote16dt,presjob,lazyb,lazyw,lazyh,lazym,violentb,violentw,violenth,violentm,econnow,econ12mo,pid1d,pid2d,pid1r,pid2r,pidstr,pidlean,lcself,lcd,lcr,lchc,lcbo,lcdt,lcmr,lctc,srv_spend,campfin,immig_legal,immig_numb,equalpay,parleave,crimespend,death,terror_worry,terror_12mo,terror_local,relig_bc,relig_bcstr,relig_srv,relig_srvstr,incgap20,isis_troops,syrians_a,syrians_b,pc_a,pc_b,minwage,healthspend,childcare,getahead,ladder,finwell,warm,warmbad,warmcause,warmdo,freetrade,stopwhite,stopblack,forcewhite,forceblack,stop_12mo,arrested_12mo,charged_12mo,jailed_12

In [18]:
anes = pd.read_csv(url,header=4)
anes.head()

,caseid,turnout12,turnout12b,vote12,percent16,meet,givefut,info,march,sign,...,votereg,pid3,pid7,ideo5,newsint,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1.0,1,NaN,2.0,100,1,3,4,1,2,...,1,1,1.0,6,1,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,4,5,4,2,2,...,2,3,4.0,2,3,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,1,1,1,1,1,...,1,2,6.0,4,1,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,5,4,5,2,2,...,1,1,1.0,2,1,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,2,1,3,1,2,...,1,4,5.0,4,1,2,2,3.0,__NA__,2

In [19]:
url = "https://raw.githubusercontent.com/jkropko/DS-6001/master/localdata/anes_example_missing.csv"
anes = pd.read_csv(url)
anes

,caseid,turnout12,turnout12b,vote12,percent16,meet,givefut,info,march,sign,...,votereg,pid3,pid7,ideo5,newsint,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1,1,-999,2,100,1,3,4,1,2,...,1,1,1,6,1,2,6,-999,__NA__,2
1,2,2,-999,-999,50,4,5,4,2,2,...,2,3,4,2,3,2,4,2,__NA__,1
2,3,1,-999,1,100,1,1,1,1,1,...,1,2,6,4,1,2,6,1,__NA__,1
3,4,1,-999,2,100,5,4,5,2,2,...,1,1,1,2,1,2,6,-999,__NA__,1
4,5,1,-999,1,100,2,1,3,1,2,...,1,4,5,4,1,2,2,3,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1196,1,-999,2,100,2,4,5,1,1,...,1,1,1,4,2,2,1,1,__NA__,2
1196,1197,1,-999,1,80,5,5,5,2,2,...,1,2,6,6,3,1,2,1,__NA__,1
1197,1198,1,-999,2,95,4,3,3,1,1,...,1,1,1,1,1,2,6,-999,__NA__,2
1198,1199,1,-999,2,80,3,3,3,2,2,...,2,3,4,3,2,2,4,1,__NA__,1
1199,1200,2,-999,-999,0,5,5,5,2,2,...,1,1,2,3,2,2,2,2,__NA__,1

In [20]:
anes = pd.read_csv(url,na_values=-999)
anes

,caseid,turnout12,turnout12b,vote12,percent16,meet,givefut,info,march,sign,...,votereg,pid3,pid7,ideo5,newsint,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1.0,1,NaN,2.0,100,1,3,4,1,2,...,1,1,1.0,6,1,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,4,5,4,2,2,...,2,3,4.0,2,3,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,1,1,1,1,1,...,1,2,6.0,4,1,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,5,4,5,2,2,...,1,1,1.0,2,1,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,2,1,3,1,2,...,1,4,5.0,4,1,2,2,3.0,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1196.0,1,NaN,2.0,100,2,4,5,1,1,...,1,1,1.0,4,2,2,1,1.0,__NA__,2
1196,1197.0,1,NaN,1.0,80,5,5,5,2,2,...,1,2,6.0,6,3,1,2,1.0,__NA__,1
1197,1198.0,1,NaN,2.0,95,4,3,3,1,1,...,1,1,1.0,1,1,2,6,NaN,__NA__,2
1198,1199.0,1,NaN,2.0,80,3,3,3,2,2,...,2,3,4.0,3,2,2,4,1.0,__NA__,1
1199,1200.0,2,NaN,NaN,0,5,5,5,2,2,...,1,1,2.0,3,2,2,2,2.0,__NA__,1

In [21]:
url = "https://raw.githubusercontent.com/jkropko/DS-6001/master/localdata/anes_example_comments.txt"
anes = pd.read_csv(url, header = 4)
anes

,caseid,turnout12,turnout12b,vote12,percent16,meet,givefut,info,march,sign,...,votereg,pid3,pid7,ideo5,newsint,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1,1.0,NaN,2.0,100.0,1.0,3.0,4.0,1.0,2.0,...,1.0,1.0,1.0,6.0,1.0,2.0,6.0,NaN,__NA__,2.0
1,2,2.0,NaN,NaN,50.0,4.0,5.0,4.0,2.0,2.0,...,2.0,3.0,4.0,2.0,3.0,2.0,4.0,2.0,__NA__,1.0
2,3,1.0,NaN,1.0,100.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,6.0,4.0,1.0,2.0,6.0,1.0,__NA__,1.0
3,@NEXT COMES A BUNCH MORE OBSERVATIONS!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1.0,NaN,2.0,100.0,5.0,4.0,5.0,2.0,2.0,...,1.0,1.0,1.0,2.0,1.0,2.0,6.0,NaN,__NA__,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,1196,1.0,NaN,2.0,100.0,2.0,4.0,5.0,1.0,1.0,...,1.0,1.0,1.0,4.0,2.0,2.0,1.0,1.0,__NA__,2.0
1198,1197,1.0,NaN,1.0,80.0,5.0,5.0,5.0,2.0,2.0,...,1.0,2.0,6.0,6.0,3.0,1.0,2.0,1.0,__NA__,1.0
1199,1198,1.0,NaN,2.0,95.0,4.0,3.0,3.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,2.0,6.0,NaN,__NA__,2.0
1200,1199,1.0,NaN,2.0,80.0,3.0,3.0,3.0,2.0,2.0,...,2.0,3.0,4.0,3.0,2.0,2.0,4.0,1.0,__NA__,1.0
1201,1200,2.0,NaN,NaN,0.0,5.0,5.0,5.0,2.0,2.0,...,1.0,1.0,2.0,3.0,2.0,2.0,2.0,2.0,__NA__,1.0

In [22]:
anes = pd.read_csv(url,header=4,comment='@')
anes

,caseid,turnout12,turnout12b,vote12,percent16,meet,givefut,info,march,sign,...,votereg,pid3,pid7,ideo5,newsint,pew_bornagain,pew_churatd,religpew,religpew_t,ever_vs_12mo_rand
0,1.0,1,NaN,2.0,100,1,3,4,1,2,...,1,1,1.0,6,1,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,4,5,4,2,2,...,2,3,4.0,2,3,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,1,1,1,1,1,...,1,2,6.0,4,1,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,5,4,5,2,2,...,1,1,1.0,2,1,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,2,1,3,1,2,...,1,4,5.0,4,1,2,2,3.0,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1196.0,1,NaN,2.0,100,2,4,5,1,1,...,1,1,1.0,4,2,2,1,1.0,__NA__,2
1196,1197.0,1,NaN,1.0,80,5,5,5,2,2,...,1,2,6.0,6,3,1,2,1.0,__NA__,1
1197,1198.0,1,NaN,2.0,95,4,3,3,1,1,...,1,1,1.0,1,1,2,6,NaN,__NA__,2
1198,1199.0,1,NaN,2.0,80,3,3,3,2,2,...,2,3,4.0,3,2,2,4,1.0,__NA__,1
1199,1200.0,2,NaN,NaN,0,5,5,5,2,2,...,1,1,2.0,3,2,2,2,2.0,__NA__,1

In [23]:
url = "https://raw.githubusercontent.com/jkropko/DS-6001/master/localdata/anes_example_nocolnames.csv"
anes = pd.read_csv(url)
anes

,1,1.1,NA,2,100,1.2,3,4,1.3,2.1,...,1.34,1.35,1.36,6.6,1.37,2.24,6.7,NA.19,__NA__.4,2.25
0,2.0,2,NaN,NaN,50,4,5,4,2,2,...,2,3,4.0,2,3,2,4,2.0,__NA__,1
1,3.0,1,NaN,1.0,100,1,1,1,1,1,...,1,2,6.0,4,1,2,6,1.0,__NA__,1
2,4.0,1,NaN,2.0,100,5,4,5,2,2,...,1,1,1.0,2,1,2,6,NaN,__NA__,1
3,5.0,1,NaN,1.0,100,2,1,3,1,2,...,1,4,5.0,4,1,2,2,3.0,__NA__,2
4,6.0,1,NaN,3.0,100,3,3,2,2,1,...,1,3,4.0,4,1,2,2,1.0,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,1196.0,1,NaN,2.0,100,2,4,5,1,1,...,1,1,1.0,4,2,2,1,1.0,__NA__,2
1195,1197.0,1,NaN,1.0,80,5,5,5,2,2,...,1,2,6.0,6,3,1,2,1.0,__NA__,1
1196,1198.0,1,NaN,2.0,95,4,3,3,1,1,...,1,1,1.0,1,1,2,6,NaN,__NA__,2
1197,1199.0,1,NaN,2.0,80,3,3,3,2,2,...,2,3,4.0,3,2,2,4,1.0,__NA__,1
1198,1200.0,2,NaN,NaN,0,5,5,5,2,2,...,1,1,2.0,3,2,2,2,2.0,__NA__,1

In [28]:
anes = pd.read_csv(url, header=None)
anes

,0,1,2,3,4,5,6,7,8,9,...,158,159,160,161,162,163,164,165,166,167
0,1.0,1,NaN,2.0,100,1,3,4,1,2,...,1,1,1.0,6,1,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,4,5,4,2,2,...,2,3,4.0,2,3,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,1,1,1,1,1,...,1,2,6.0,4,1,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,5,4,5,2,2,...,1,1,1.0,2,1,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,2,1,3,1,2,...,1,4,5.0,4,1,2,2,3.0,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1196.0,1,NaN,2.0,100,2,4,5,1,1,...,1,1,1.0,4,2,2,1,1.0,__NA__,2
1196,1197.0,1,NaN,1.0,80,5,5,5,2,2,...,1,2,6.0,6,3,1,2,1.0,__NA__,1
1197,1198.0,1,NaN,2.0,95,4,3,3,1,1,...,1,1,1.0,1,1,2,6,NaN,__NA__,2
1198,1199.0,1,NaN,2.0,80,3,3,3,2,2,...,2,3,4.0,3,2,2,4,1.0,__NA__,1
1199,1200.0,2,NaN,NaN,0,5,5,5,2,2,...,1,1,2.0,3,2,2,2,2.0,__NA__,1

In [29]:
anes = anes.add_prefix('x')
anes

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x158,x159,x160,x161,x162,x163,x164,x165,x166,x167
0,1.0,1,NaN,2.0,100,1,3,4,1,2,...,1,1,1.0,6,1,2,6,NaN,__NA__,2
1,2.0,2,NaN,NaN,50,4,5,4,2,2,...,2,3,4.0,2,3,2,4,2.0,__NA__,1
2,3.0,1,NaN,1.0,100,1,1,1,1,1,...,1,2,6.0,4,1,2,6,1.0,__NA__,1
3,4.0,1,NaN,2.0,100,5,4,5,2,2,...,1,1,1.0,2,1,2,6,NaN,__NA__,1
4,5.0,1,NaN,1.0,100,2,1,3,1,2,...,1,4,5.0,4,1,2,2,3.0,__NA__,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1196.0,1,NaN,2.0,100,2,4,5,1,1,...,1,1,1.0,4,2,2,1,1.0,__NA__,2
1196,1197.0,1,NaN,1.0,80,5,5,5,2,2,...,1,2,6.0,6,3,1,2,1.0,__NA__,1
1197,1198.0,1,NaN,2.0,95,4,3,3,1,1,...,1,1,1.0,1,1,2,6,NaN,__NA__,2
1198,1199.0,1,NaN,2.0,80,3,3,3,2,2,...,2,3,4.0,3,2,2,4,1.0,__NA__,1
1199,1200.0,2,NaN,NaN,0,5,5,5,2,2,...,1,1,2.0,3,2,2,2,2.0,__NA__,1